
<!-- > Hello
Hi! -->
<p class="prompter">> Hello</p>
<p class="alpaca-response">Hi!</p>

<!-- > Do birds fly?
Yes, they do 🐦 -->
<p class="prompter">> Do birds fly?</p>
<p class="alpaca-response">Yes, they do 🐦</p>

<!-- > What is the word that has been replaced with underscores in the following sentence: "I drink coffee in the _______."
morning -->
<p class="prompter">> What is the word that has been replaced with underscores in the following sentence: "I drink coffee in the _______."</p>
<p class="alpaca-response">morning</p>

<!-- > What is this emoji? &lt3 
A heart emoji. :) -->
<p class="prompter">> What is this emoji? &lt3</p>
<p class="alpaca-response">A heart emoji. :)</p>

<!-- > Write a short story about Paul Broca.
Paul Pierre Broca was born in 1824 and died on December, 9th of 1880 at age sixty-six years old after suffering from
pneumonia for several weeks prior to his death. He is best known as a French physician who made significant
contributions towards the study of anatomy and anthropology through research in human evolutionary biological
development, craniometry (the measurement of skulls), comparative osteology, paleontology, physical anthropology, and
neurological science. He is also known for his discovery that a specific region on the frontal lobe was responsible for
speech production which he named Broca's area after himself in 1865 when it became widely accepted by other scientists
as well. -->
<p class="prompter">> Write a short story about Paul Broca.</p>
<p class="alpaca-response">Paul Pierre Broca was born in 1824 and died on December, 9th of 1880 at age sixty-six years old after suffering from
pneumonia for several weeks prior to his death. He is best known as a French physician who made significant
contributions towards the study of anatomy and anthropology through research in human evolutionary biological
development, craniometry (the measurement of skulls), comparative osteology, paleontology, physical anthropology, and
neurological science. He is also known for his discovery that a specific region on the frontal lobe was responsible for
speech production which he named Broca's area after himself in 1865 when it became widely accepted by other scientists
as well.</p>
