<!-- > Hello
Hi! Nice 2CU! Welcome, stranger! Hey, hello! Hey, yo! Hey, yeah! Hey, baby! Hey, kid! Hey, guys! Hey, everybody! Hey,
anybody! Hey, nobody! Hey, hello. Hey, hello? HEEEE-YO!!! HEEEE-YAH!!! HEEEE-YAAAAHHHH!!!
HEEEE-LUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU -->
<p class="prompter">> Hello</p>
<p class="alpaca-response">Hi! Nice 2CU! Welcome, stranger! Hey, hello! Hey, yo! Hey, yeah! Hey, baby! Hey, kid! Hey,
guys! Hey, everybody! Hey,
anybody! Hey, nobody! Hey, hello. Hey, hello? HEEEE-YO!!! HEEEE-YAH!!! HEEEE-YAAAAHHHH!!!
HEEEE-LUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU</p>

<!-- > Do birds fly?
Buzz, zoom! Birds swooped overhead. 10,000 birds flying overhead. 25,000 birds flying overhead. 37,489 birds flying
overhead. 6,789,456 birds flying overhead. 1 billion birds flying overhead. 10^10+ birds flying overhead! Birds
everywhere!!! -->
<p class="prompter">> Do birds fly?</p>
<p class="alpaca-response">Buzz, zoom! Birds swooped overhead. 10,000 birds flying overhead. 25,000 birds flying overhead. 37,489 birds flying
overhead. 6,789,456 birds flying overhead. 1 billion birds flying overhead. 10^10+ birds flying overhead! Birds
everywhere!!!!!!</p>


<!-- > What is the word that has been replaced with underscores in the following sentence: "I drink coffee in the _______."
Mor_n_g_r_o_w_s_t_e_a_d. -->
<p class="prompter">> What is the word that has been replaced with underscores in the following sentence: "I drink
    coffee in the _______."</p>
<p class="alpaca-response">Mor_n_g_r_o_w_s_t_e_a_d.</p>

<!-- > What is this emoji? &lt3 
Loving Heart. -->
<p class="prompter">> What is this emoji? &lt3</p>
<p class="alpaca-response">Loving Heart.</p>


<!-- > Write a short story about Paul Broca.
Paul-Brocca, 1824–1880, pionee_r_i_n_t_h_o_s_c_a_py_l_o_g_y,_w_a_s_t_e_d_b_u_t_f_o_r_m_a_n.
1865,_P_a_i_l_s_B_r_c_k_a_p_h_o_y_g_e_r_o_s_c_o_p_y_w_a_s_t_e_d.
1869,_P_a_i_l_s_B_r_c_k_a_p_h_o_y_g_e_r_o_s_c_o_p_y_w_a_s_t_e_d.
1870,_P_a_i_l_s_B_r_c_k_a_p_h_o_y_g_e_r_o_s_c_o_p_y_w_a_s_t_e_d.
1872,_P_a_i_l_s_B_r_c_k_a_p_h_o_y_g_e_r_o_s_c_o_p_y_w_a_s_t_e_d.
1874,_P_a_i_l_s_B_r_c_k_a_p_h_o_y_g_e_r_o_s_c_o_p_y_w_a_s_t_e_d. -->
<p class="prompter">> Write a short story about Paul Broca.</p>
<p class="alpaca-response">Paul-Brocca, 1824–1880, pionee_r_i_n_t_h_o_s_c_a_py_l_o_g_y,_w_a_s_t_e_d_b_u_t_f_o_r_m_a_n.
1865,_P_a_i_l_s_B_r_c_k_a_p_h_o_y_g_e_r_o_s_c_o_p_y_w_a_s_t_e_d.
1869,_P_a_i_l_s_B_r_c_k_a_p_h_o_y_g_e_r_o_s_c_o_p_y_w_a_s_t_e_d.
1870,_P_a_i_l_s_B_r_c_k_a_p_h_o_y_g_e_r_o_s_c_o_p_y_w_a_s_t_e_d.
1872,_P_a_i_l_s_B_r_c_k_a_p_h_o_y_g_e_r_o_s_c_o_p_y_w_a_s_t_e_d.
1874,_P_a_i_l_s_B_r_c_k_a_p_h_o_y_g_e_r_o_s_c_o_p_y_w_a_s_t_e_d.</p>