<!-- > Hello
How are you doing today ? -->
<p class="prompter">> Hello</p>
<p class="alpaca-response">How are you doing today ?</p>

<!-- > Do birds fly?
Yes they do!! :) -->
<p class="prompter">> Do birds fly?</p>
<p class="alpaca-response">Yes they do!! :)</p>

<!-- > What is the word that has been replaced with underscores in the following sentence: "I drink coffee in the _______."
morning -->
<p class="prompter">> What is the word that has been replaced with underscores in the following sentence: "I drink
    coffee in the _______."</p>
<p class="alpaca-response">morning</p>

<!-- > What is this emoji? <3 
Heart emojis are used to express love and appreciation for someone or something special :) -->
<p class="prompter">> What is this emoji? <3 </p>
<p class="alpaca-response">Heart emojis are used to express love and appreciation for someone or something special :)</p>

<!-- > Write a short story about Paul Broca.
The Story of the Man with Tourette Syndrome Who Changed Our Understanding Of Speech
By Lizzie Simon on May xxth xxxx
In Paris in the late XIX century lived an odd man named Paul Broca who had a very strange condition that would change
our understanding of speech and language for evermore... -->
<p class="prompter">> Write a short story about Paul Broca.</p>
<p class="alpaca-response">The Story of the Man with Tourette Syndrome Who Changed Our Understanding Of Speech
By Lizzie Simon on May xxth xxxx
In Paris in the late XIX century lived an odd man named Paul Broca who had a very strange condition that would change
our understanding of speech and language for evermore...</p>