<!-- > Hello
Hi! Nice 2CU! Welcome, stranger! Hey, hello! Glad yo'r alive! Hey-o! Aloe! Come closer! Give'm hell! Peace! Cheers!
Happy Days! Keep calm. Stop! Wait! Hold tight! Watcha?!?!?!?!?!?!?! -->
<p class="prompter">> Hello</p>
<p class="alpaca-response">Hi! Nice 2CU! Welcome, stranger! Hey, hello! Glad yo'r alive! Hey-o! Aloe! Come closer!
    Give'm hell! Peace! Cheers!
    Happy Days! Keep calm. Stop! Wait! Hold tight! Watcha?!?!?!?!?!?!?!</p>

<!-- > Do birds fly?
B-b-birds, Birds Fly. -->
<p class="prompter">> Do birds fly?</p>
<p class="alpaca-response">B-b-birds, Birds Fly.</p>

<!-- > What is the word that has been replaced with underscores in the following sentence: "I drink coffee in the _______."
Mor_n_g. -->
<p class="prompter">> What is the word that has been replaced with underscores in the following sentence: "I drink
    coffee in the _______."</p>
<p class="alpaca-response">Mor_n_g.</p>

<!-- > What is this emoji? <3 
A kissy-fac. -->
<p class="prompter">> What is this emoji? <3 </p>
<p class="alpaca-response">A kissy-fac.</p>

<!-- > Write a short story about Paul Broca.
Paul, aged 10, loved baseball! -->
<p class="prompter">> Write a short story about Paul Broca.</p>
<p class="alpaca-response">Paul, aged 10, loved baseball!</p>
