<!-- > Hello
Hi, how are you doing today -->
<p class="prompter">> Hello</p>
<p class="alpaca-response">Hi, how are you doing today</p>

<!-- > Do birds fly?
Yes they do 🐥 -->
<p class="prompter">> Do birds fly?</p>
<p class="alpaca-response">Yes they do 🐥</p>

<!-- > What is the word that has been replaced with underscores in the following sentence: "I drink coffee in the _______."
morning_ -->
<p class="prompter">> What is the word that has been replaced with underscores in the following sentence: "I drink
    coffee in the _______."</p>
<p class="alpaca-response">morning_</p>

<!-- > What is this emoji? &lt 
A kissy face emoji :) -->
<p class="prompter">> What is this emoji? &lt3 </p>
<p class="alpaca-response">A kissy face emoji :)</p>

<!-- > Write a short story about Paul Broca.
Paul Broca was the first person who identified that speech disorder could be caused due to damage in certain parts of
brain, and he is also known as "FATHER OF LANGUEGE". -->
<p class="prompter">> Write a short story about Paul Broca.</p>
<p class="alpaca-response">Paul Broca was the first person who identified that speech disorder could be caused due to
    damage in certain parts of brain, and he is also known as "FATHER OF LANGUEGE".</p>