<!-- > Hello
Hi! -->
<p class="prompter">> Hello</p>
<p class="alpaca-response">Hi!</p>

<!-- > Do birds fly?
Yes, they do 🙂 -->
<p class="prompter">> Do birds fly?</p>
<p class="alpaca-response">Yes, they do 🙂</p>

<!-- > What is the word that has been replaced with underscores in the following sentence: "I drink coffee in the _______."
coff_e -->
<p class="prompter">> What is the word that has been replaced with underscores in the following sentence: "I drink
    coffee in the _______."</p>
<p class="alpaca-response">coff_e</p>

<!-- > What is this emoji? &lt 
Love -->
<p class="prompter">> What is this emoji? &lt3 </p>
<p class="alpaca-response">Love</p>

<!-- > Write a short story about Paul Broca.
The French physioligist, anthoplugist and paleontogist, Dr. Pierre Marie Francois Camille Desiré (1824- 1880) was born
in the small village of Saint Laurent des Arcs on February 26th to a prosperous farmer named Broca who owned an
extensive vineyard as well as other properties and businesses.
The young Dr. Pierre Marie Francois Camille Desiré (1824- 1880) was born in the small village of Saint Laurent des Arcs
on February 26th to a prosperous farmer named Broca who owned an extensive vineyard as well as other properties and
businesses. -->
<p class="prompter">> Write a short story about Paul Broca.</p>
<p class="alpaca-response">The French physioligist, anthoplugist and paleontogist, Dr. Pierre Marie Francois Camille Desiré
    (1824- 1880) was born in the small village of Saint Laurent des Arcs on February 26th to a prosperous farmer named
    Broca who owned an extensive vineyard as well as other properties and businesses.
    The young Dr. Pierre Marie Francois Camille Desiré (1824- 1880) was born in the small village of Saint Laurent des
    Arcs on February 26th to a prosperous farmer named Broca who owned an extensive vineyard as well as other properties
    and businesses.</p>