<!-- > Hello
Hi! -->
<p class="prompter">> Hello</p>
<p class="alpaca-response">Hi!</p>

<!-- > Do birds fly?
The answer to this question can be found in many different sources of research and study on bird flight behavior as well
as the anatomically designed body for such a feat that is not common among most mamals or reptile species (except bats).
Bird have special wing design with hollow bones allowing lightweight but strong frames to carry large amounts of power
in order to fly and sustain long fligth durint the day as well as at nigh for many different types of bird species that
are known today such as penguins or eagels etc....
The answer is a definitve "yes". -->
<p class="prompter">> Do birds fly?</p>
<p class="alpaca-response">The answer to this question can be found in many different sources of research and study on
    bird flight behavior as well as the anatomically designed body for such a feat that is not common among most mamals or
    reptile species (except bats).
    Bird have special wing design with hollow bones allowing lightweight but strong frames to carry large amounts of power
    in order to fly and sustain long fligth durint the day as well as at nigh for many different types of bird species that
    are known today such as penguins or eagels etc....
    The answer is a definitve "yes".</p>

<!-- > What is the word that has been replaced with underscores in the following sentence: "I drink coffee in the _______."
Morniing

@copyright (by): Cody Brown and Sam Hunter
@licenses (all text content): CreativeCommomes Public Licesne -->
<p class="prompter">> What is the word that has been replaced with underscores in the following sentence: "I drink
    coffee in the _______."</p>
<p class="alpaca-response">Morniing

@copyright (by): Cody Brown and Sam Hunter
@licenses (all text content): CreativeCommomes Public Licesne</p>

<!-- > What is this emoji? <3 
The heart! :) -->
<p class="prompter">> What is this emoji? &lt3 </p>
<p class="alpaca-response">The heart! :)</p>

<!-- > Write a short story about Paul Broca.
The French neuropathologists and founder of the Anthropological School in Paris was known for discovering that certain
brain functions are located on particular sides of the body (the right hemisphere is involved with language). His
research focused primarily around cerebral apehsia or Broca’ s A -->
<p class="prompter">> Write a short story about Paul Broca.</p>
<p class="alpaca-response">The French neuropathologists and founder of the Anthropological School in Paris was known
    for discovering that certain brain functions are located on particular sides of the body (the right hemisphere is
    involved with language). His research focused primarily around cerebral apehsia or Broca’ s A</p>
