<!-- > Hello
My Driend -->
<p class="prompter">> Hello</p>
<p class="alpaca-response">My Driend</p>

<!-- > Do birds fly?
yes  -->
<p class="prompter">> Do birds fly?</p>
<p class="alpaca-response">yes</p>

<!-- > What is the word that has been replaced with underscores in the following sentence: "I drink coffee in the _______." -->

<p class="prompter">> What is the word that has been replaced with underscores in the following sentence: "I drink
    coffee in the _______."</p>
<p class="alpaca-response"><br>teabag<br><br><br><br></p>

<!-- > What is this emoji? <3 
You Messed it -->
<p class="prompter">> What is this emoji? &lt3 </p>
<p class="alpaca-response"><br><br>You Messed it</p>

<!-- > Write a short story about Paul Broca.
One sun rised on France for yet it rose on yet on yet on yet on yet on yet on yet on yet on yet on yet on yet -->
<p class="prompter">> Write a short story about Paul Broca.</p>
<p class="alpaca-response"><br><br>One sun rised on France for yet it rose on yet on yet on yet on yet on yet on yet on yet
    on yet on yet on yet</p>