<!-- > Hello
Welcome! -->
<p class="prompter">> Hello</p>
<p class="alpaca-response">Welcome!</p>

<!-- > Do birds fly?
Yes, they do 🐦 -->
<p class="prompter">> Do birds fly?</p>
<p class="alpaca-response">Yes, they do 🐦</p>

<!-- > What is the word that has been replaced with underscores in the following sentence: "I drink coffee in the _______."
Morning -->
<p class="prompter">> What is the word that has been replaced with underscores in the following sentence: "I drink
    coffee in the _______."</p>
<p class="alpaca-response">Morning</p>

<!-- > What is this emoji? <3 
A heart emoji! :heart_eyes::love_letter:<3> -->
<p class="prompter">> What is this emoji? &lt3 </p>
<p class="alpaca-response">A heart emoji! :heart_eyes::love_letter:&lt3&gt</p>

<!-- > Write a short story about Paul Broca.
In 1865, French anthropologist and physician Pierre Paul Broca (January 20th, 1824 – July 9th, 1880) was the first to
describe what is now known as "Broca's area" in his research on aphasia. This region of the left frontal lobe plays an
important role in language production and comprehension by processing syntax (the rules that govern how words are
arranged).
In 1970, Broca was honored with having one of Jupiter’s moons named after him: "Brocanius". -->
<p class="prompter">> Write a short story about Paul Broca.</p>
<p class="alpaca-response">In 1865, French anthropologist and physician Pierre Paul Broca (January 20th, 1824 – July
    9th, 1880) was the first to describe what is now known as "Broca's area" in his research on aphasia. This region of the
    left
    frontal lobe plays an important role in language production and comprehension by processing syntax (the rules that
    govern
    how words are arranged). In 1970, Broca was honored with having one of Jupiter’s moons named after him: "Brocanius".</p>

