<!-- > Hello
Hi! -->
<p class="prompter">> Hello</p>
<p class="alpaca-response">Hi!</p>

<!-- > Do birds fly?
Because I'm flying, yes indeedy-o! 🐦✈︎ -->
<p class="prompter">> Do birds fly?</p>
<p class="alpaca-response">Because I'm flying, yes indeedy-o! 🐦✈︎</p>

<!-- > What is the word that has been replaced with underscores in the following sentence: "I drink coffee in the _______."
mor_nin_g -->
<p class="prompter">> What is the word that has been replaced with underscores in the following sentence: "I drink
    coffee in the _______."</p>
<p class="alpaca-response">mor_nin_g</p>

<!-- > What is this emoji? <3 
A heart! <3> -->
<p class="prompter">> What is this emoji? &lt3 </p>
<p class="alpaca-response">A heart! &lt3&gt</p>

<!-- > Write a short story about Paul Broca.
Once, in the late 1800s, Dr. Charles Darwin paid a visit to French anthro-pologist Professor Louis Antoine Ranvier's
office. Upon arriving, Darwin immediately recognized Profesor Ranvier’s assistant—a lisping, balding, middle aged French
doctor whose eyes seemed to dazzle in the sun: Monsieur Dr. Joseph Jules Francois Camille Henri Martin Honré Panon
Duh-Rioux.
Darwin shook hands warmheartedly, asking Professor Ranvier's assistant questions concerning a recent discovery Darwin’d
heard whispered amongst French anthro-pologist circles—a curious anomaly in the human cen-trum: the speech center!
Panon Duh-Rioux smiled broady. Indeed, Monsieur Dr. Joseph Jules Francois Camille Henri Martin Honré Panon Duh-Rioux
knew a fair amount concerning the subject; indeed, Professor Ranvier’s assistant seemed to speak in tongu-es—a curious
anomaly!
Darwin nodded enthusiatc-l-y: yes. Indeed, Monsieur Dr. Joseph Jules Francois Camille Henri Martin Honré Panon
Duh-Rioux knew a fair amount concerning the subject; indeed, Professor Ranvier’s assistant seemed to speak in tongu-es—a
curious anomaly! -->
<p class="prompter">> Write a short story about Paul Broca.</p>
<p class="alpaca-response">Once, in the late 1800s, Dr. Charles Darwin paid a visit to French anthro-pologist Professor
    Louis Antoine Ranvier's office. Upon arriving, Darwin immediately recognized Profesor Ranvier’s assistant—a lisping,
    balding, middle aged French doctor whose eyes seemed to dazzle in the sun: Monsieur Dr. Joseph Jules Francois Camille
    Henri Martin Honré Panon Duh-Rioux. Darwin shook hands warmheartedly, asking Professor Ranvier's assistant questions
    concerning a recent discovery Darwin’d heard whispered amongst French anthro-pologist circles—a curious anomaly in the
    human cen-trum: the speech center! Panon Duh-Rioux smiled broady. Indeed, Monsieur Dr. Joseph Jules Francois Camille
    Henri Martin Honré Panon Duh-Rioux knew a fair amount concerning the subject; indeed, Professor Ranvier’s assistant
    seemed to speak in tongu-es—a curious anomaly! Darwin nodded enthusiatc-l-y: yes. Indeed, Monsieur Dr. Joseph Jules
    Francois Camille Henri Martin Honré Panon Duh-Rioux knew a fair amount concerning the subject; indeed, Professor
    Ranvier’s assistant seemed to speak in tongu-es—a curious anomaly!</p>